@import"./reset.css";

@import url('https://fonts.googleapis.com/css2? family= Heebo:wght@400;500;800;900 & display=swap');

body{
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #282828;
}

.container{
    max-width: 1200px;
    min-height: 60px;
    margin: 0 auto;
}

/* header start */

.header{
    position: fixed;
    background: #fff;
    margin-left: 85px;
}

.header-block{
    display: flex;
    justify-content: space-between;
}

.logo{
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 20px;
    padding-left: 10px;
}

.nav{
    padding-left: 85px;
}

.menu{
    display: flex;
    gap: 0 50px;
    padding-top: 20px;
}

.link{
    font-size: 20px;
    color: #282828;
    font-weight: 600;
    border: 1px solid #470006;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: .5s;
}

.link:hover{
    color: rgb(255, 0, 0);
    background: linear-gradient(5.72deg, #FFFF00 16.1%, #FFFFCF 95.46%);
  
}

.phone{
   padding-top: 20px;
   padding-left: 95px;
}

.phone-img{
    margin-top:  -20px;
}

.phone-text{
    font-size: 25px;
    color: #282828;
    font-weight: 600;
    padding-right: 5px;
} 

/* header end */

/* main start */

.main-block{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}

.main-keyboard{
    margin-left: 350px;
    margin-top: 50px;
 
}

.main-title{
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 50px;
    padding-left: 10px;
}

.main-text{
    font-size: 20px;
    font-weight: 600;
    padding-top: 50px;
    text-align: start;
    padding-left: 10px;
    letter-spacing: .03rem;
}

.main-img{
    max-width: 600px;
    min-height: 400px;
    padding-right:  20px;
    padding-top: 80px;
}

/* main end */

/* works start */

.works-keyboard{
    margin-left: 250px;
    padding-top: 100px;
}

.works-block{
    display: flex;
    justify-content: flex-start;
    margin-left: 250px;
    padding-top: 20px;
    gap: 0 40px;
    text-align: center;
    padding-bottom: 30px;
}

.works-content{
    border: 1px solid #470006;
    border-radius: 10px;
    padding: 20px 10px;

}

.works-img{
 padding-bottom: 20px;
}

.works-title{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 20px;
    border-bottom: 2px solid #470006;
}

.works-text{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .03rem;
    padding-top: 10px;

}

/* woks end */

/* contacts start */

.contacts-block{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    gap: 0 50px;
    padding-bottom: 30px;
}

.contacts-content{
    margin-top: 80px;
    background-color: #470006;
    border: 1px solid #470006;
    padding: 20px;
    border-radius: 30px;
}

.contacts-title{
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.contacts-country{
    padding-top: 20px;
    font-size: 20px;
    color: #fff;
}

.contacts-country span{
    font-size: 25px;
    font-weight: 500;
    padding-right: 10px;
    color: #fff;
    text-transform: uppercase;
}

.contacts-city{
    padding-top: 10px;
    font-size: 20px;
    color: #fff;
}

.contacts-city span{
    font-size: 25px;
    font-weight: 500;
    padding-right: 70px;
    color: #fff;
    text-transform: uppercase;
}

.contacts-street{
    padding-top: 10px;
    font-size: 20px;
    color: #fff;
}

.contacts-street span{
    font-size: 25px;
    font-weight: 500;
    padding-right: 30px;
    color: #fff;
    text-transform: uppercase;
}

.contacts-email{
    padding-top: 10px;
    font-size: 20px;
    color: #fff;
}

.contacts-email span{
    font-size: 25px;
    font-weight: 500;
    padding-right: 50px;
    text-transform: uppercase;
}

.contacts-phone{
    padding-top: 10px;
    font-size: 20px;
    color: #fff;
}

.contacts-phone span{
    font-size: 25px;
    font-weight: 500;
    padding-right: 30px;
    text-transform: uppercase;
}

/* contacts end */

/* footer start */

.footer-content{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #470006;
    margin-bottom: 20px;
}

.copyring-text{
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
    color: #fff;
}

.social-networks-content{
    padding-top: 5px;
}

.solial-img{
    padding-right: 100px;
}

.solial-img-2{
    padding-right: 0;
}

.footer-phone{
    padding-top: 15px;
}

.footer-phone-number{
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
    color: #fff;
}

/* footer end */

